/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

.req input {
  border-left: 2.8px solid red !important;
  border-radius: 8px;
}

.yarl__navigation_next, .yarl__navigation_prev {
  display: none !important;
}

::-webkit-scrollbar {
  height: 10px;
  transition: opacity 0.3s ease;
  width: 6px;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: #B4BCC3;
  border-radius: 4px;
}


/* textFieldStyles.css */
.custom-textfield .MuiInputBase-input {
  height: 7px;
}

.custom-textfield .MuiInputLabel-root {
  margin-top: -0.45rem;
}

.custom-textfield .MuiInputLabel-root.MuiInputLabel-shrink {
  margin-top: 0;
}
